TempFiles/
bin/
.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
source/.vs/GPP_Framework/v17/.suo
*.bin
*.db
source/.vs/GPP_Framework/v17/.suo
source/.vs/GPP_Framework/v17/fileList.bin
source/.vs/GPP_Framework/v17/Browse.VC.db
